
body,html{
  background-image: linear-gradient(rgb(130, 194, 231),rgb(243, 240, 240), rgb(19, 91, 124));
  height: 100%;
  width: 100%;

}

h1{
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(233, 133, 133);
}
.box{
  display: inline-block;
  height: 30px;
  width: 30px;
  border:3px solid rgb(0, 0, 0);
  /*border-radius: 50%;*/
  background-color: rgb(0, 0, 0);
  margin-bottom:-6.5px;
  /*margin-top:-4px;*/
}
.obstacle_box{
  display: inline-block;
  height: 30px;
  width: 30px;
  border:3px solid rgb(255, 239, 239);
  /*border-radius: 50%;*/
  background-color: rgb(209, 209, 209);
  margin-bottom:-6.5px;
  /*margin-top:-4px;*/

}
.active_box{
  display: inline-block;
  height: 30px;
  width: 30px;
  border:3px solid rgb(255, 255, 255);
  background-color: rgb(14, 93, 20);
  margin-bottom:-6.5px;
  /*margin-top:-4px;*/
  border-radius: 50%;
 

}
.tail_box{
  display: inline-block;
  height: 30px;
  width: 30px;
  border:3px solid white;
  background-color: rgb(21, 255, 0);
  margin-bottom:-6.5px;
  /*margin-top:-4px;*/

  border-radius: 50%;
 

}
.apple_box{
  display: inline-block;
  height: 30px;
  width: 30px;
  border:3px solid white;
  background-color: red;
  margin-bottom:-6.5px;
  /*margin-top:-4px;*/
  border-radius: 50%;

}

#container{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 880px;

}
#col1{
  width: 564px;
  max-height: 590px;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
#col2{
  max-height: 590px;
  width: 260px;
  text-align: center;
}

.NavContainer{
  text-align: center;
  margin-top: -5px;
}

#score_bord{
  margin-left: auto;
  margin-right: auto;
  max-height:180px ;
  max-width:250px ;
}

.btn-secondary{
 
  width: 60px;
  height: 60px;
  margin: 7px;
}
#btn_Auto{
  width: 105px;
  height: 40px;
  margin: 3px;
  font-size: auto;

}
#btn_Stop{
  width: 105px;
  height: 40px;
  margin: 3px;

}
#btn_game,#Ob_pattern{
  width: 215px;
  height: 40px;
  margin: 3px;
}
.Obstacle_lbl{
  color: rgb(81, 221, 240);
}
.ScoreHead{
  color: darkgreen;
  font-style:italic;
  font-weight: bold;
}
.ScoreValue{
  color: darkgreen;
  font-style:italic;
  font-size: 25px;
}
#logo {
  margin-left: 5px;
  width: 40px;
}
.alert_class_hidden{

  opacity: 0;

}
.alert_class_show{
  font-family: "Lucida Console", "Courier New", monospace;
  width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  font-weight: bolder;
  font-size: 40px;
  opacity:100;
  transition: opacity 2s;
  color: rgb(255, 247, 230);
}
/*#Ob_pattern{
  width: 60px;
  height: 60px;
  margin: 7px;

}*/